html {
    scroll-behavior: smooth ;
}

body {
    background-color: #141b20;
    min-width: 100%;
    background-image: url("../images/even_back2.jpg");
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
mark {
    background-color: rgb(45, 40, 85);
    color: white;
    box-shadow: 8px 8px 8px black;
    padding: 10px;
    border-radius: 15px;
}

.back_template {
    background-color: rgb(13, 6, 68);
    color: white;
    box-shadow: 8px 8px 8px black;
    height: 100px;
    width: 750px;
    padding: 30px;
    margin-left: 350px;
    border-radius: 15px;
}

.waah {
    width: 500px;
    height: 700px;
    /* background-color: green; */
    margin-top: 1600px;
}


/*----- whatsapp fab ------*/
#fab{
    background-size: cover;
    height: 50px;
    width: 50px;
    background-color: #090707;
    position: fixed;
    margin-left: 95%;
    margin-top: 35%;
    border-radius: 60%;
    z-index: 999;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    box-shadow: 15px 15px 15px black;
    z-index: 999;
}

#fab2{
    display: none;
    height: 50px;
    width: 50px;
    background-color: #090707;
    position: fixed;
    margin-left: 95%;
    margin-top: 30%;
    border-radius: 60%;
    z-index: 999;
    transform: rotate(-90deg);
}
#svg_fab2:hover {
    height: 60px;
    width: 60px;
}

#svg_fab:hover {
    height: 60px;
    width: 60px;
}

#svg_top_insta:hover {
    height: 60px;
    width: 60px;
}
#svg_top_linkedin:hover {
    height: 60px;
    width: 60px;
}
#svg_top_twitter:hover {
    height: 60px;
    width: 60px;
}
#social_back_twitter:hover {
    height: 60px;
    width: 60px;
}

.fab_roll {
 background-color: green;
}

.fab_roll:hover .fab_info {
    display: block;
    transition: display 2s;
}

.fab_info {
    display: none;
    font-size: 20px;
    color: white;
    background-color: #090707;
    margin-left: 74%;
    position: fixed;
    z-index: 999;
    margin-top: 34%;
    height: 80px;
    width: 320px;
    justify-content: center;
    border-radius: 20px;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}

.contnt {
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#call:hover #call_svg {
    height: 50px;
    width: 50px;
    box-shadow: 5px 10px 8px black;
}

#call:hover .footer_contact_number_text {
    font-size: 25px;
    text-shadow: 5px 10px 8px black;
    margin-left: 80px;
}

#mail:hover #mail_svg {
    height: 50px;
    width: 50px;
    box-shadow: 5px 10px 8px black;
}

#mail:hover .footer_contact_mail_text{
    font-size: 22px;
    text-shadow: 5px 10px 8px black;
    margin-left: 5px;
}

video {
    padding-left: 0px;
    background-color: rgb(6, 6, 51);
    background-size: cover;
    width: 100vw;
    height:max-content;
   /* filter: blur(5px); */
}


#footer_insta:hover {
    height: 60px;
    width: 60px;
}
#footer_linkedin:hover {
    height: 60px;
    width: 60px;
}
#footer_twitter:hover {
    height: 60px;
    width: 60px;
}
#footer_github:hover {
    height: 60px;
    width: 60px;
}
#footer_showcase:hover {
    height: 60px;
    width: 60px;
}


/**
  navigation part top
*/
header {
  background-color: black;
  position: absolute;
  width: max-content;
  top: 0px;
  width: 100%;
  height: 70px;
  border-bottom: solid 6px #260036;
}

.top_name {
  position: absolute;
  color: white;
  font-size: 25px;
  font-weight: 900;
  padding: 20px 20px 20px 20px;
  margin-left: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-nav {
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    margin-left: 65%;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.main-nav a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-nav a:hover {
    font-size: 27px;
}

.nav_link_cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}









/* ------ introduction part ------ */
.intro_line1 {
    font-size: 25px;
    font-weight: 1000;
    color: #ffe0b2;
    margin-top: 35px;
}
.intro_line2 {
    font-size: 90px;
    font-weight: 900;
    color: white;
    margin-top: 45px;
    text-shadow: 10px 10px 10px black,10px 10px 10px black, 10px 10px 10px black,10px 10px 10px black;
}

.intro_line3 {
 font-size: 30px;   
 font-weight: 900;
 color: #c8d3dad5;
 font-family: Georgia, 'Times New Roman', Times, serif;
 margin-top: 30px;
 letter-spacing: 2px;
}

.intro_table {
 margin-top: 160px;
 margin-left: 450px;
 height: max-content;
 width: 560px;
}



.intro_img {
    margin-top: 50px;
    margin-left: 20%;
    height: 300px;
    width: 300px;
    background-image: url("../images/profile.png");
    background-size: cover;
    background-color: #373737;
    border-width: 4px;
    border-color: rgb(194, 194, 194);
    border-radius: 50%;
    border-style: solid;
    /* box-shadow: 30px 25px #200000;
    z-index: 998; */
}

.intro {
 display: grid;
 grid-template-columns: 1fr;
 position: absolute;
 top: 0%;
}


/* this is not in use now */
.intro_back_shape {
 /* position: relative; */
 height: 650px;
 width: 325px;
 margin-top: 70px;
border-radius: 0 325px 325px 0;
 background-color:#0c0f13;
}

.intro_top_container {
    /* background-image: url("../animated/intro_top_back-v.mp4");
    background-repeat: no-repeat;
    background-size: cover; */
    width: max-content;
    height: max-content;
    background-color: white;
    background-size: cover;
}




/* ---- top social ---- */
.top_social {
 position: fixed;
 display: grid;
 grid-template-rows: 2fr 2fr 2fr;
 grid-gap: 50px;
 height: max-content;
 width: max-content;
 z-index: 999;
 margin-top: 20%;
 margin-left: 5px;
}


.social_back_insta {
    background-color: #090707;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 9px 9px 9px black;
    z-index: 999;
}


.social_back_linkedin {
    background-color: #090707;
    /* margin-left: 50px; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 9px 9px 9px black;
    z-index: 999;
}

.social_back_twitter {
    background-color: #ffebee;
    /* margin-left: 100px; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 9px 9px 9px black;
    z-index: 999;
}



.social_insta {
  background-size: cover;
  height: 50px;
  width: 50px;
}

.social_linkedin {
  background-size: cover;
  height: 50px;
  width: 50px;
}

.social_twitter {
   background-size: cover;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
    background-color: white;
    height: 2px;
    width: 500px;
    margin-top: 340px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



.projects_container {
    margin-top: 250px;
    margin-left: 10%;
    background-color: rgb(13, 6, 68);
    height: max-content;
    width: max-content;
    padding: 20px;
    padding: 30px;
    border-radius: 15px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    box-shadow: 10px 10px 10px black;
}

.projects_head {
    color: rgb(227, 229, 255);
    font-size: 30px;
}

.projects_item {
    background-color: rgb(13, 6, 68);
    height: 300px;
    width: 400px;
}

.chat_bot {
  
}

.item_head {
   font-size: 40px;
   color: white;
}









/*------footer part -------*/
.footer_back {
    background-color: #090707;
    height: max-content;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    bottom: 0%;
    border-top: white;
    border-style: solid;
    border-width: 4px;
}

.footer_left_container {
    width: auto;
    height: auto;
}

.footer_line {
    font-size: 55px;
    font-weight: 700;
    color: #ffffff;
}

.footer_line2 {
    font-size: 30px;
    color: #bdbdbd;
    margin-top: 10px;
}

.connect_container {
   height: auto;
   width: max-content;
   margin: 80px;
}

.footer_line3 {
    font-size: 30px;
    color: #bdbdbd;
    margin-top: 30px;
}






/*------ footer social  part ------*/
.footer_social_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: auto;
    margin-top: 25px;
    grid-gap: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

.footer_social_container a {
     height: max-content;
     width: max-content;
}
.footer_social_container_2 a {
    height: max-content;
    width: max-content;
}

.footer_social_container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    padding-left: 70px;
    width: 330px;
}

.footer_social_insta {
    background-size: cover;
    height: 50px;
    width: 50px;
}

.footer_social_linkedin {
    background-size: cover;
    height: 50px;
    width: 50px;
}

.footer_social_twitter {
    background-size: cover;
    height: 50px;
    width: 50px;
}

.footer_social_github {
    background-size: cover;
    height: 50px;
    width: 50px;
}

.footer_social_showcase {
    height: 50px;
    width: 50px;
}



/*----- footer contact part ------*/
.footer_contact_container {
display: grid;
grid-template-columns: 1fr 1fr;
}

.footer_contact_number_back {
    height: 250px;
    width: 270px;
    background-color: #37474f;
    margin: 70px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 50px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.footer_contact_mail_back {
    height: 250px;
    width: 270px;
    background-color: #37474f;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 70px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.footer_contact_number {
    height: 40px;
    width: 40px;
    margin-left: 120px;
    margin-top: 65px;
}

.footer_contact_mail {
    height: 40px;
    width: 40px;
    margin-left: 120px;
    margin-top: 65px;
}

.footer_contact_number_text {
  margin-left: 85px;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
}

.footer_contact_mail_text {
   margin-left: 20px;
   margin-top: 40px;
   font-size: 20px;
   font-weight: 900;
   color: #ffffff;
}

/** About me design */
.about_container {
    height: max-content;
    width: max-content;
   font-weight: 900;
   background-color:rgb(13, 6, 68) ;
   padding: 30px;

}

.about_head {
    color: rgb(227, 229, 255);
    font-size: 30px;
}

.about_info {
    color: #c8d3dad5;
    width: 500px;
    font-size: 18px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    margin-top: 250px;
    margin-left: 10%;
    height: max-content;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(13, 6, 68) ;
    padding: 30px;
    border-radius: 15px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    box-shadow: 10px 10px 10px black;
}





/*-------- media queries ----------*/
@media screen and (max-width:1060px){

   #fab{
    background-size: cover;
    height: 150px;
    width: 150px;
    margin-left: 85%;
    margin-top: 140%;
}

  .intro_back_shape {
      height: 1620px;
      width: 1470px;
  }

  .intro  {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    z-index: 999;
  }

  .intro_table {
    height: max-content;
    width: auto;
  }

  .intro_line1 {
     font-size: 90px;
     margin-top: 130px;
  }

  .intro_line2 {  
    font-size: 170px;
    margin-top: 25px;
  }

  .intro_line3 {
    font-size: 75px;
  }


  .top_social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 45px;
    height: max-content;
    width: 1000px;
    margin-left: 90px;
   }
   
   
   .social_back_insta {
       background-color: #ffe0b2;
       border-radius: 100%;
       height: 125px;
       width: 125px; 
   }
   
   
   .social_back_linkedin {
       background-color: #ffe0b2;
       border-radius: 50%;
       height: 125px;
       width: 125px; 
   }
   
   .social_back_twitter {
       background-color: #ffe0b2;
       border-radius: 50%;
       height: 125px;
       width: 125px; 
   }
   
   
   
   .social_insta {
     background-image: url("../images/insta.png");
     background-size: cover;
     height: 125px;
     width: 125px;   
   }
   
   .social_linkedin {
     background-image: url("../images/linkedin.png");
     background-size: cover;
     height: 125px;
     width: 125px; 
   }
   
   .social_twitter {
     background-image: url("../images/twitter.png");
     background-size: cover;
     height: 125px;
     width: 125px; 
   }


   .intro_img {
    margin-top: 170px;
    margin-left: 120px;
    height: 1300px;
    width: 1200px;
    background-image: url("../images/profile_solid.png");
    background-size: cover;
    background-color: #666666;
    border-width: 20px;
    border-color: black;
    border-radius: 25px;
    /* box-shadow: 60px 80px #200000;
    z-index: 998; */
}

.hr {
    background-color: white;
    height: 10px;
    width: 1300px;
    margin-top: 1550px;

 
   margin-right: 50%;
   transform: translateX(-30%);
   position: relative;
 

}







/** responsive footer part*/

/*------footer part -------*/
.footer_back {
    background-color: #090707;
    height: max-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
    bottom: 0%;
    width: 1600px;
    position: relative;
}

.footer_left_container {
    width: auto;
    height: auto;
}

.footer_line {
    font-size: 150px;
    font-weight: 700;
    color: #ffffff;
}

.footer_line2 {
    font-size: 60px;
    color: #bdbdbd;
    margin-top: 60px;
}

.connect_container {
   height: auto;
   width: auto;
   margin: 45px;
}

.footer_line3 {
    font-size: 60px;
    color: #bdbdbd;
    margin-top: 60px;
}



/*------ footer social  part ------*/
.footer_social_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: auto;
    margin-top: 35px;
}

.footer_social_container_2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: auto;
    margin-top: 20px;
}

.footer_social_insta {
    background-size: cover;
    height: 125px;
    width: 125px;
    margin-left: 150px;
}

.footer_social_linkedin {
    background-size: cover;
    height: 120px;
    width: 120px;
    margin-left: 150px;
}

.footer_social_twitter {
    background-size: cover;
    height: 125px;
    width: 125px;
    margin-left: 150px;
}

.footer_social_github {
    background-size: cover;
    height: 125px;
    width: 125px;
    margin-left: 150px;
}

.footer_social_showcase {
    height: 125px;
    width: 125px;
    margin-left: 150px;
}



/*----- footer contact part ------*/
.footer_contact_container {
display: grid;
grid-template-columns: 1fr 1fr;
}

.footer_contact_number_back {
    height: 750px;
    width: 640px;
    background-color: #37474f;
    margin: 70px;
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 50px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.footer_contact_mail_back {
    height: 750px;
    width: 640px;
    background-color: #37474f;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 70px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.footer_contact_number {
    height: 40px;
    width: 40px;
    margin-left: 280px;
    margin-top: 205px;
}

.footer_contact_mail {
    height: 40px;
    width: 40px;
    margin-left: 260px;
    margin-top: 205px;
}

.footer_contact_number_text {
  margin-left: 220px;
  margin-top: 120px;
  font-size: 45px;
  font-weight: 900;
  color: #ffffff;
}

.footer_contact_mail_text {
   margin-left:  55px;
   margin-top: 120px;
   font-size: 40px;
   font-weight: 900;
   color: #ffffff;
}



svg {
    height: 115px;
    width: 115px;
}



}

#top_insta  {
    width: 50px;
}
#top_linkedin {
    width: 50px;
}
#top_twitter {
    width: 50px;
}
